<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>music</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.music.test.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.music.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.music.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.music.web.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPortraitServlet</display-name>
    <servlet-name>UploadPortraitServlet</servlet-name>
    <servlet-class>com.music.web.UploadPortraitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPortraitServlet</servlet-name>
    <url-pattern>/uploadPortrait</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.music.web.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSongCommentServlet</display-name>
    <servlet-name>GetSongCommentServlet</servlet-name>
    <servlet-class>com.music.web.GetSongCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSongCommentServlet</servlet-name>
    <url-pattern>/getSongComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCommentServlet</display-name>
    <servlet-name>InsertCommentServlet</servlet-name>
    <servlet-class>com.music.web.InsertCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCommentServlet</servlet-name>
    <url-pattern>/insertComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FabulousServlet</display-name>
    <servlet-name>FabulousServlet</servlet-name>
    <servlet-class>com.music.web.FabulousServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FabulousServlet</servlet-name>
    <url-pattern>/fabulous</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionServlet</display-name>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>com.music.web.CollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/collection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectionServlet</display-name>
    <servlet-name>AddCollectionServlet</servlet-name>
    <servlet-class>com.music.web.AddCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectionServlet</servlet-name>
    <url-pattern>/addCollection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserinfoServlet</display-name>
    <servlet-name>UpdateUserinfoServlet</servlet-name>
    <servlet-class>com.music.web.UpdateUserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserinfoServlet</servlet-name>
    <url-pattern>/updateUserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommentPortraitServlet</display-name>
    <servlet-name>UpdateCommentPortraitServlet</servlet-name>
    <servlet-class>com.music.web.UpdateCommentPortraitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommentPortraitServlet</servlet-name>
    <url-pattern>/updateCommentPortrait</url-pattern>
  </servlet-mapping>
</web-app>